@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 2rem;
}

.header_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
}

.logo {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.62rem;
    align-items: center;
}

.logo_icon {
    height: 5.87rem;
    width: 6rem;
}

.logo_text {
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
    }
}

.nav_link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition: color 0.1s;
}

.nav_link:hover {
    color: var(--link-color);
}

.contact_button {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transition: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    display: none;
}

@media screen and (min-width: 768px) {
    .contact_button {
        display: flex;
    }
}

.contact_button:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    transition: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1.1rem;
}

@media screen and (max-width: 768px) {
    .menu-button {
        display: block;
    }
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}

/* --- Main Hero Section Styles --- */

.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title {
    font-size: 2.25rem;
    color: var(--text-color);
    padding: 1rem;
    max-width: 40rem;
    margin: 0 auto;
}

.section-description {
    color: var(--gray);
    font-size: 1.1rem;
    max-width: 50rem;
    margin: 0 auto;
}

.button-group {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.start-button,
.tour-button {
    border: none;
    color: var(--background-color);
    transition: all 0.1s;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--accent-color);
    padding: 0.75rem 1.5rem;
}

.tour-button {
    background-color: var(--dark-gray);
}

.start-button:hover {
    background-color: #5254f8;
}

.tour-button:hover {
    background-color: var(--gray);
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto 0 auto;
}

.image-container {
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section-image {
    border-radius: 1.2rem;
    max-width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 768px) {
    .main-section {
        flex-direction: row;
        text-align: left;
    }

    .content-left {
        text-align: left;
        flex: 1;
    }

    .content-right {
        flex: 1;
        max-width: 400px;
        margin: 0;
    }

    .section-title {
        text-align: left;
        padding-left: 0;
        max-width: 100%;
        margin: 0;
    }

    .section-description {
        max-width: 100%;
        margin: 0;
    }

    .button-group {
        justify-content: flex-start;
        padding-left: 0;
    }

    .section-label {
        font-size: 0.8rem;
    }

    .section-title {
        font-size: 3rem;
    }
}

.company-container {
    max-width: 1280px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid {
    gap: 4rem;
    padding: 3rem;
    background-color: var(--light-gray);
    border-radius: 0.625rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .company-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem 1rem;
    }
}

.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    gap: 0.5rem;
    text-align: center;
}

.svg-img {
    height: 1.5rem;
    width: auto;
}

.logo-text {
    font-size: 1rem;
}

#company-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-container {
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-title {
    font-size: 2.15rem;
    padding: 2rem 0 1rem;
}

.main-description {
    color: var(--gray);
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.feature-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.icon-container {
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.9rem;
    gap: 1.2rem;
    border-radius: 1.5rem;
    text-align: center;
}

.feature-title {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.feature-description {
    color: white;
    font-size: 0.9rem;
}

.feature-card:nth-child(1) {
    background-color: #4a90e2;
}

.feature-card:nth-child(2) {
    background-color: #ff6289;
}

.feature-card:nth-child(3) {
    background-color: #44bfc3;
}

.feature-card:nth-child(4) {
    background-color: #77b05d;
}

.feature-card:nth-child(5) {
    background-color: #7d78b1;
}

.feature-card:nth-child(6) {
    background-color: var(--dark-gray);
}

@media screen and (max-width: 1024px) {
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .feature-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
}

.testimonial-container {
    padding: 4rem 2rem;
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--background-color);
    text-align: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testimonial-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--text-color);
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    gap: 1.6rem;
    background-color: var(--background-color);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}

.testimonial-text {
    font-size: 1.1rem;
    color: var(--dark-gray);
    flex-grow: 1;
}

.testimonial-avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.name {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
}

.role {
    font-size: 0.9rem;
    color: var(--gray);
}

.newsletter-container {
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 55vh;
    margin: 0 auto;
}

.newsletter-content {
    display: flex;
    flex-direction: row;
    background-color: rgba(151, 147, 147, 0.558);
    height: 100%;
    border-radius: 0.7rem;
}

.news-left {
    width: 50%;
    height: 100%;
}

.news-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.news-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.news-title {
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--primary-color);
}

.news-info {
    margin: 0 auto;
    padding: 0 3rem;
}

.news-description {
    padding-top: 0.5rem;
    color: #777;
}

.news-form {
    padding: 0 3rem;
    margin-bottom: 1rem;
    gap: 0.6rem;
}

.news-email {
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1.5px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.news-email:focus {
    border-color: #2563eb;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.news-link {
    text-decoration: underline;
}

.news-send-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-left: 1.5rem;
}

.news-send-button:hover {
    background-color: #a7a8d3;
}

.privacy-policy {
    margin-top: 2.8rem;
    font-size: 1.2rem;
    padding: 0 3rem;
}

@media screen and (max-width: 768px) {
    .news-left {
        display: none;
    }

    .news-right {
        width: 100%;
        justify-content: center;
    }
}

.footer-container {
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer {
    max-width: 1280px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.footer-top {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg {
    width: 6rem;
    height: 5.8rem;
}

.comp-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.logo-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
}

.socials {
    display: flex;
    gap: 1rem;
}

.social-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.filler-text {
    font-size: 1rem;
    color: #777;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7rem;
    padding: 1.7rem;
}

.footer-grid-heading {
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.6rem;
}

ul {
    list-style-type: none;
}

.footer-link {
    color: #777;
    font-size: 1rem;
}

.footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-copyright {
    text-align: center;
    padding: 1rem;
    color: var(--gray);
    border-top: 1px solid var(--light-gray);
}

@media screen and (max-width: 1080px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 5rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 850px){
    .footer-grid{

        grid-template-columns: repeat(2,1fr);
    }
}